*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    min-height:100vh;
    color:white;
    overflow-x:hidden;
}

.background{
    position:fixed;
    inset:0;

    background-image:url("images/background.png");
    background-size:cover;
    background-position:center;

    filter:blur(12px) brightness(0.4);
    transform:scale(1.1);

    z-index:-2;
}

.container{
    max-width:1000px;
    margin:auto;
    padding:50px 20px;
}

h1{
    text-align:center;
    font-size:3rem;
    margin-bottom:10px;

    text-shadow:
        0 0 10px rgba(255,255,255,.3);
}

.subtitle{
    text-align:center;
    opacity:.8;
    margin-bottom:40px;
}

.section{
    margin-bottom:35px;
}

.section h2{
    margin-bottom:15px;
    font-size:1.5rem;
}

.card{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:16px 20px;
    margin-bottom:10px;

    background:rgba(255,255,255,.08);
    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,.1);

    border-radius:14px;

    transition:.25s;
}

.card:hover{
    transform:translateY(-3px);

    background:rgba(255,255,255,.12);

    box-shadow:
        0 8px 20px rgba(0,0,0,.25);
}

.card span:last-child{
    font-weight:bold;
    color:#8df0ff;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:rgba(255,255,255,.3);
    border-radius:10px;
}
